/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: flex;
}

.img-container {
  width: 35vw;
  height: 100vh;
  /* background-image: url(images/hao-qin-eo0rWDA_-IA-unsplash.jpg); */
  background-color: aquamarine;
  flex-shrink: 0;
}

ul {
  list-style: none;
}

li {
  display: flex;
}

li > div {
  display: flex;
  flex-direction: column;
}
